@page "/"

<div class="mx-5 row"> 
    <div class="col-4 my-3">
        <AddBook AddNewBook="AddNewBook" UpdateBook="UpdateBook" SelectedBook="SelectedBook" />
    </div>
    

<div class="col-8 my-3">
    @if (books.Count == 0)
    {
        <p> No books available</p>
    }
    else
    {
        <div class="d-flex">
            @foreach (var book in books)
            {
                <DisplayBook bookDto="book" DeleteId="DeleteBook" EditBook="EditBook" />
            }
        </div>

    }
</div>
</div>

@code {
    public BookDto SelectedBook;

    private List<BookDto> books = new List<BookDto>()
   {
       new BookDto()
      {
        Id = Guid.NewGuid (),
        Title="Eat Pray Love",
        Description ="How to Live a Happy Life",
        Authors = new List<Author>()
        {
            new Author()
            {
                Id=1,
                AuthName="Elizabeth Gilberts"
            }
        }
          
      
      }
   };

    public void AddNewBook(BookDto book)
    {
        this.books.Add(book);
    }
    public void DeleteBook(Guid id)
    {
        try
        {
            var bookDelete = this.books.Find(x => x.Id == id);
            this.books.Remove(bookDelete);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
    public void UpdateBook(BookDto books)
    {
        var updatebookIndex = this.books.FindIndex(x => x.Id == books.Id);
        this.books[updatebookIndex] = books;
    }

    public void EditBook(BookDto books)
    {
        SelectedBook = books;
    }

}
