/* /Shared/Header.razor.rz.scp.css */
.header[b-7ytatww4cn]{
    color:white;
    background-color:dodgerblue;
    margin:0;

}

h1[b-7ytatww4cn]{
    color: black;
    font-size:32;
    font-weight:500;
    position:center;


}
